scrimba
Learn React Router
Nested Routes
To nest or not to nest?

Nested Routes Quiz
4:48
To nest or not to nest?
Expand for more info
Nested Routes Quiz
4:48
index.css
258259260261262263264265266267268269270271272273274275276277278279280281282283284285286287288289290291292293294295296297
    font-size: 2rem;    margin-bottom: 10px;} .van-detail > i {    align-self: flex-start;} .van-detail .van-price {    font-size: 1.25rem;    margin-bottom: 10px;} .van-detail .van-price span {    font-weight: 700;    font-size: 1.5rem;} .van-detail .link-button {    background-color: #FF8C38;    color: white;    font-size: 1.125rem;} .host-nav {    display: flex;} .host-nav a {    text-decoration: none;    color: #4D4D4D;    font-weight: 500;    padding: 5px 20px;} .host-nav a:hover {    color: #161616;    text-decoration: underline;    font-weight: 600;}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

Find
No Results

CONSOLE
/vans/2

